<app-template-todo-header></app-template-todo-header>
<div class="list-view">
    <app-template-todo-form></app-template-todo-form>
    <h4 (click)="showOpenToDo=!showOpenToDo">Offen <span>(2)</span></h4>
    <div *ngIf="showOpenToDo" class="todo-elements">
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
    </div>
    <h4 (click)="showDoneToDo=!showDoneToDo">Erledigt <span>(2)</span></h4>
    <div *ngIf="showDoneToDo" class="todo-elements">
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
    </div>
</div>